.wrapper {
    background-color: #fff;
    margin: 12px 0px;
    border-radius: 8px;
    padding: 12px 0px;
}

.tempRate {
    padding: 0px 0px 36px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 14px;
    img {
        width: 96px;
        height: 96px;
        margin: 0px auto;
    }
    p {
        color: #a2a2a2;
    }
}
.nonTempRate {
    width: 100%;
    padding: 24px;
    .title {
        font-size: 14px;
        font-weight: 700;
    }
    .title i {
        text-decoration: none;
        font-weight: normal;
    }
    .ovrRate {
        display: flex;
        align-items: center;
        margin: 24px 0px;
        font-size: 14px;
    }
    .ovrRate .total {
        max-width: 50%;
        padding-right: 24px;
    }
    .ovrRate .changeWidth {
        min-width: 30% !important;
    }
    .ovrRate .dis-rate {
        min-width: 50%;
        padding-left: 24px;
        border-left: 1px solid #e8e8e8;
    }
}
.dis-total {
    display: flex;
    gap: 10px;
    font-size: 24px;
    align-items: center;
    color: #ee2624;
}
.avg {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: black;
    letter-spacing: 0.015rem;
}
// .ovrRate .stars::before {
//     content: '★★★★★';
//     display: block;
//     -webkit-text-fill-color: transparent;
//     background: linear-gradient(90deg, #ffc600 100%, #e7e8ea 0);
//     background-clip: text;
//     -webkit-background-clip: text;
// }
.notification {
    color: #828282;
    font-style: italic;
}
.button-rate {
    button {
        margin-right: 12px;
        padding: 7px;
        border-radius: 4px;
        border: 1px solid #ee2624;
        background-color: #f1f1f1;
        cursor: pointer;
        transition: 0.25s;
        &:hover {
            background-color: #f1514f;
            color: #fff;
            border-color: #f1514f;
        }
    }
    .btn.active {
        background-color: #ee2624;
        color: #fff;
    }
}
.action_comment {
    width: 95%;
    padding: 7px;
    display: flex;
    margin: 0px auto;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    gap: 10px;
    height: 40px;
    cursor: pointer;
    transition: 0.25s;
    &:hover {
        background-color: #f2f3f4;
    }
    span {
        font-size: 14px;
        line-height: 1.3rem;
        font-weight: 700;
    }
    .icon {
        font-size: 20px;
    }
}
.container_input_comments {
    width: 400px;
    display: flex;
    flex-direction: column;
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .title span {
        font-size: 16px;
        font-weight: 600;
    }
    .title .icon_close {
        cursor: pointer;
    }
    .infor_rate {
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 12px 0px;
    }
    .infor_rate .image_user {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        background-color: #828282;
    }
    .infor_rate .image_user img {
        width: 100%;
    }
    .input_comment {
        width: 100%;
        max-height: 100px;
    }
    .input_comment textarea {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100px;
        outline: none;
        padding: 6px;
        border-radius: 5px;
    }
    .action_send {
        width: 100%;
        margin-top: 12px;
    }
    .action_send button {
        width: 100%;
        background-color: #ee2624;
        transition: 0.25s;
    }
    .action_send button:hover {
        opacity: 0.8;
    }
    .action_send button span {
        font-weight: 600;
    }
    .action_post {
        margin-bottom: 12px;
    }
    .list_image {
        height: 300px;
        overflow-y: scroll;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .list_image > div {
        flex: 1 1 200px;
        max-width: fit-content;
    }
    ul {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    // .star_item {
    //     width: 18px;
    //     height: 20px;
    //     background-color: transparent;
    //     border: 8px solid black;
    //     clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    // }
    .star_item::after {
        content: '★';
        font-size: 24px;
        display: block;
        color: #c4c4c5;
        transition: 0.25s;
    }
    .star_item.active::after {
        color: #ffc600;
    }
}
