.wrapper {
    width: 100%;
    position: relative;
}
.wrapper .slides {
    display: inline-flex;
    gap: 15px;
    transition: 0.25s;
    padding: 8px 0px;
}
.overflowslide {
    width: 100%;
    overflow: hidden;
    transform: translateX();
}
.item-slide {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 -2px 2px 0 rgba(0, 0, 0, 0.04);
    transition: 0.25s;
    border-radius: 10px;
    overflow: hidden;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12), 0 -4px 8px 0 rgba(0, 0, 0, 0.04);
    }
}
.img-sale {
    width: 40%;
    height: auto;
    bottom: -16px;
    position: absolute;
}
.content {
    width: calc(100% / 10);
}
.content .image {
    width: 100%;
    position: relative;
    object-fit: cover;
}
.img-main {
    width: 100%;
    display: block;
}
.price {
    padding: 20px 8px 8px 8px;
    h3 {
        font-size: 16px;
        color: #ee2624;
        text-align: left;
        line-height: 1.2;
    }
    span {
        font-size: 12px;
        line-height: 1.2;
    }
    .linethrought {
        text-decoration: line-through;
        color: #b7bbbf;
        margin-right: 5px;
    }
    .sale {
        color: #ee2624;
    }
}

.wrapper button {
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
}
.left {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}
.right {
    right: -50px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.icon {
    width: 40px;
    height: 40px;
}
img.normal {
    width: 72px;
    height: 72px;
    border: 2px solid transparent;
    border-radius: 4px;
    &:hover {
        border-color: #ee2624;
        cursor: pointer;
    }
}
