.wrapper {
    width: 100%;
}
.wrapperItem .container {
    display: flex;
    padding-left: 24px;
    align-items: flex-start;
    padding-bottom: 12px;
    .imageUser {
        width: 10%;
        height: 10%;
        padding: 12px;
        margin-right: 10px;
        border-radius: 100%;
        margin-top: 20px;

        overflow: hidden;
    }
    .imageUser img {
        width: 100%;
        border-radius: 100%;
    }
    .nameUser {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #6f787e;
        font-weight: 700;
    }
    .nameUser p {
        font-weight: 400;
        font-size: 14px;
    }
    .status {
        color: #3f4b53;
        font-weight: 700;
        display: block;
        margin: 8px 0px;
    }
    .content {
        width: 83%;
        padding: 8px;
    }
    .line {
        padding: 8px;
    }
}

.stars::before {
    content: '★★★★★';
    width: 100%;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #ffc600 20%, #e7e8ea 0);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 22px;
}
.buyrecent {
    width: 50%;
    display: flex;
    align-items: stretch;
    padding: 4px;
    margin-top: 16px;
    .imageProd {
        width: 52px;
        height: 52px;
        // height: auto;
    }
    .imageProd img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .nameProd {
        width: 100%;
        background-color: #f2f3f4;
        display: flex;
        padding: 0px 8px;
        align-items: center;
        border-radius: 4px;
    }
}

//itemother
.Comment {
    width: 100%;
    padding-top: 16px;
    padding-right: 8px;
    .infor {
        display: flex;
        justify-content: space-between;
    }
    .infor .inforleft .name {
        font-weight: 700;
        color: #000;
        font-size: 14px;
    }
    .infor .inforleft .timedatepublic {
        font-weight: 400;
        color: #828282;
        font-size: 12px;
        font-style: italic;
    }
    .inforright {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .starscomment::before {
        content: '★';
        width: 100%;
        color: #e7e8ea;
        background-clip: text;
        font-size: 14px;
    }
    .starscomment.active::before {
        color: #ffc600;
    }
    .contentComment {
        padding: 12px 0px;
    }
    .commentImage .tag {
        display: inline-block;
        background-color: #efefef;
        padding: 6px;
        border-radius: 4px;
    }
    .commentImage ul {
        width: 100%;
        display: flex;
        gap: 10px;
    }
    .commentImage ul li {
        list-style-type: none;
        width: 8%;
        margin-top: 6px;
    }
    .commentImage ul li img {
        width: 100%;
        height: auto;
    }
    .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .action .icons,
    .action .icons div {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
}
.action_user {
    margin-left: 15px;
    position: relative;
    .icon {
        cursor: pointer;
    }
    .drop_box_action {
        width: 150px;
        padding: 12px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12), 0 -4px 8px 0 rgba(0, 0, 0, 0.04);
        position: absolute;
        top: 100%;
        right: 0;
    }
    .drop_box_action ul li {
        padding: 6px;
        transition: 0.25s;
        cursor: pointer;
        font-size: 14px;
    }
    .drop_box_action ul li:hover {
        background-color: #f2f3f4;
    }
}
.container_input_comments {
    width: 400px;
    display: flex;
    flex-direction: column;
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .title span {
        font-size: 16px;
        font-weight: 600;
    }
    .title .icon_close {
        cursor: pointer;
    }
    .infor_rate {
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 12px 0px;
    }
    .infor_rate .image_user {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        background-color: #828282;
    }
    .infor_rate .image_user img {
        width: 100%;
    }
    .input_comment {
        width: 100%;
        max-height: 100px;
    }
    .input_comment textarea {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100px;
        outline: none;
        padding: 6px;
        border-radius: 5px;
    }
    .action_send {
        width: 100%;
        margin-top: 12px;
    }
    .action_send button {
        width: 100%;
        background-color: #ee2624;
        transition: 0.25s;
    }
    .action_send button:hover {
        opacity: 0.8;
    }
    .action_send button span {
        font-weight: 600;
    }
    .action_post {
        margin-bottom: 12px;
    }
    .list_image {
        height: 300px;
        overflow-y: scroll;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .list_image > div {
        flex: 1 1 200px;
        max-width: fit-content;
    }
    ul {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    // .star_item {
    //     width: 18px;
    //     height: 20px;
    //     background-color: transparent;
    //     border: 8px solid black;
    //     clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    // }
    .star_item::after {
        content: '★';
        font-size: 24px;
        display: block;
        color: #c4c4c5;
        transition: 0.25s;
    }
    .star_item.active::after {
        color: #ffc600;
    }
}
.reply_comment {
    width: 100%;
    display: flex;
    padding-left: 100px;
    gap: 10px;
    padding-right: 12px;
    .thumb_shop {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
    .thumb_shop img {
        width: 100%;
        height: 100%;
    }
    .content {
        width: 100%;
    }
    .content .name_shop {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .content .name_shop span {
        font-size: 14px;
        font-weight: 600;
    }
    .content_reply {
        font-size: 14px;
        margin-top: 12px;
    }
    .timedatepublic {
        font-weight: 400;
        color: #828282;
        font-size: 12px;
        font-style: italic;
    }
    .actions {
        position: relative;
    }
    .actions ul {
        width: 100px;
        position: absolute;
        border-radius: 5px;
        padding: 6px;
        text-align: center;
        top: 100%;
        right: 0;
        background-color: #fff;
        box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    }
    .actions ul li {
        font-size: 14px;
        padding: 6px;
        border-radius: 5px;
        transition: 0.25s;
        cursor: pointer;
    }
    .actions ul li:hover {
        background-color: #f2f3f4;
    }
    .icon_action {
        cursor: pointer;
    }
}
