.wrapper .slides {
    display: inline-flex;
    gap: 10px;
}
a {
    text-decoration: none;
}
.item-slide {
    width: 100%;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 -2px 2px 0 rgba(0, 0, 0, 0.04);
    transition: 0.25s;
    border-radius: 10px;
    overflow: hidden;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12), 0 -4px 8px 0 rgba(0, 0, 0, 0.04);
    }
}
.img-sale {
    width: 40%;
    height: auto;
    bottom: -16px;
    position: absolute;
}
.content {
    width: 144px;
    .name {
        width: 100%;
        margin-top: 7px;
        padding: 0px 8px;
        color: black;
        font-weight: 400;
        font-size: 14px;
        height: 36px;
        white-space: nowrap; /* Ngăn ngừa text xuống dòng */
        overflow: hidden; /* Ẩn nội dung vượt quá chiều rộng */
        text-overflow: ellipsis;
    }
}
.content .image {
    width: 100%;
    position: relative;
    object-fit: cover;
}
.pdmain-content .image {
    height: 200px;
    img {
        height: 100%;
        object-fit: contain;
    }
}
.img-main {
    width: 100%;
    display: block;
}
.price {
    padding: 0px 8px 8px 8px;
    h3 {
        font-size: 16px;
        color: #ee2624;
        text-align: left;
        line-height: 1.2;
    }
    span {
        font-size: 12px;
        line-height: 1.2;
    }
    .linethrought {
        text-decoration: line-through;
        color: #b7bbbf;
        margin-right: 5px;
    }
    .sale {
        color: #ee2624;
    }
}
.prmain {
    width: calc(100% / 6.35) !important ;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 -2px 2px 0 rgba(0, 0, 0, 0.04);
    transition: 0.25s;
    //thay doi o day
    flex-shrink: 0;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12), 0 -4px 8px 0 rgba(0, 0, 0, 0.04);
    }
    .infor {
        padding: 16px 8px 8px;
        background-color: #fff;
    }
    .name {
        font-size: 14px;
        color: black;
        display: flex;
        align-items: center;
        gap: 5px;
        white-space: nowrap; /* Ngăn chữ xuống dòng */
        overflow: hidden; /* Ẩn phần vượt quá chiều cao */
        text-overflow: ellipsis;
        span {
            white-space: nowrap; /* Ngăn chữ xuống dòng */
            overflow: hidden; /* Ẩn phần vượt quá chiều cao */
            text-overflow: ellipsis;
        }
        img {
            width: 33px;
            height: 12px;
        }
    }
    .infother {
        color: black;
        font-size: 11px;
    }
    .buyopen {
        cursor: pointer;
        color: #fff;
        font-size: 11px;
        text-align: center;
        border-radius: 8px;
        width: 100%;
        background-color: #f47c7b;
        margin: 4px 0px;
        padding: 2px 0px;
    }
}
.prmain .price {
    padding: 0;
    line-height: 1.5;
    h3 {
        font-weight: 700;
    }
    span {
        display: inline-flex;
        height: 16px;
    }
}
.prmain .tag {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: rgb(241, 243, 249);
    padding: 0px 6px;
    border-radius: 4px;
    img {
        width: 12px;
        height: auto;
    }
    span {
        font-size: 11px;
        color: rgb(19, 48, 150);
    }
}
.infother p,
.infother div {
    margin-top: 4px;
}
.infother div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infother .star::before {
    color: #ffc600;
    content: '★';
    display: block;
    font-size: 1rem;
    line-height: 1rem;
}
.rate-address .rate {
    display: flex;
    align-items: center;
    gap: 3px;
}
